<!DOCTYPE html>
<html>
<head>
    <title>Pepper Time Reclaimers</title>
    <style>
        body {
            color: #2BFBFD;
        }
    </style>
</head>
<body>
    <div class="container">
    <h2>Pepper Reclaimers</h2>
    
    <ol>
        <% results.forEach(function(r) { %>
            <li><%= r.name %> - <%= r.time %></li>
        <% }); %>
    </ul>
    
    </div>
</body>
</html>