<!DOCTYPE html>
<html>
<body>
    <div class="container">
    <h2>Pepper Leaders</h2>
    
    <ol>
        <% results.forEach(function(r) { %>
            <li><%= r.name %> - <%= r.time %></li>
        <% }); %>
    </ul>
    
    </div>
</body>
</html>