<!DOCTYPE html>
<html>

<head>
    <title>Speen Queue</title>
    <meta http-equiv="refresh" content="10">
</head>

<body>
    <div class="container">
        <h2>Speen Queue [<%= results.length %>]</h2>

        <ol>
            <% results.forEach(function(r) { %>
                <li><b>
                        <%= r.title %> (<%= r.added_by %>)
                    </b></li>
                <% }); %>
        </ol>

    </div>
</body>

</html>