<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                color: #2BFBFD;
            }
            div {
                position: absolute;
                top: 10%;
                
            }
            p {
                font-size: large;
            }
            p .game {
                font-size: medium
            }
        </style>
    </head>
<body>
    <div class="container">
        <p><%= quote.message %></p>
        <p class="game"><%= quote.game %></p>
    </div>
</body>
</html>